@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap:100,200,300,400,500,600,700 | Exo:100,200,300,400,500,600,700');

header {
    margin: 0;
}

.logo {
    background: url(../images/rosie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transform: all .5s ease-in-out;
    -moz-transform: all .5s ease-in-out;
    -webkit-transform: all .5s ease-in-out;
}